@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100 px 0;
    --color-title: #001a49;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200 px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
} 

.hero{
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
     
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/markus-spiske-Skf7HxARcoc-unsplash.jpg');
    background-size: cover;
    clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
    z-index: -1;
}

/* nav */
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;

}

.nav_items{
    list-style: none;

}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
}

.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

/* hero container */

.hero_container{

    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091F9 ;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */
.about{
    text-align: center;
}
.container_about{
    padding: 5%;
    padding-top: 15%;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_parrafo{
    line-height: 1.7;
    text-align: center;
}

.about_main{
    padding-top: 14%;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    margin: 0 auto;
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden
}

.about_icon{
    width: 40px;

}

/* knowledge */

.knowledge{
    padding: 2%;
    padding-top: 10%;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center; 
}

.knowledge_text{
    padding: 5%;
}

.knowledge_picture{
    max-width: 500px;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.lista{
    list-style: none;
    list-style-image: url('../img/check.svg');
}

.knowledge_img{
    width: 360px;
    
}

/* precio */


.price_subtitulo{
    padding-top: 10%;
    text-align: center;
}


.price_table{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price_element{
    background-color: #e5e5f7;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    padding-top: 5%;
    --color-plan: #696871;
    --color-precio: #1D293F;
    --color-cta: #5454D4;
    --bg-cta: #fff;
    --color-items: #696871   
}

.plan_title{
    color: var(--color-precio);
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 2.5rem;
}

.plan_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);

}

.plan_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-precio);
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);

}
 /*testimonios*/ 

.testimonios{
    padding: 3% 6%;
    background-color: #e5e5f7;

}

.testimonio_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.testimony_texts{
    max-width: 700px;
}

.testimony_arrow{
    width: 90%;
    cursor: pointer;
}

/*contacto*/

.contenedor{
    width: 100%;
    padding-left: 7%;
    padding-bottom: 7%;
}

.contenedor .form .form-header .form-title{
    padding: 14px 0;
}

.form-title{
    color: #e5e5f7;
}

.contenedor .form .form-label{
    display: block;
    color: #e5e5f7;
}

.contenedor .form .form-input, .form-textarea{
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #e5e5f7;
    width: 70%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
}

.contenedor .form .btn-submit{
    width:70%;
    display: block;
    outline: none;
    background: #e5e5f7;
    font-size: 16px;
    border: none;
    color: #696871;
    padding: 15px 0;
    cursor: pointer;
}

/*mapa*/

.contacto_dondeestamos{
    background: rgba(0, 0, 0, .7);
    display: flex;
    padding-top: 7%;
}

.mapa{
    width: 100%;
    padding-top: 0;
    padding-left: 10%;
}

.mapa_title{
    color: #fff;
    padding: 15px 0;
}

.mapa_img{

    width: 400px;
    height: 400px;
    position: relative;
    outline: 2px solid black;

}
